{% extends "layout.html" %}
{% block content %}

<br/>
<div class="jumbotron">
    <h4>New activity</h4>
    <p>New activity</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Details</a></p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Мероприятие 1</h4>
        <p>Сообщение 1</p>

        <h4>Мероприятие 2</h4
        <p>Сообщение 1</p>

        <h4>Мероприятие 3</h4
        <p>Сообщение 1</p>
    </div>

    <div class="col-lg-6">
        <h4>Мероприятие 4</h4>
        <p>Сообщение 1</p>

        <h4>Мероприятие 5</h4>
        <p>Сообщение 1</p>

       <h4>Мероприятие 6</h4>
        <p>Сообщение 1</p>
    </div>
</div>
{% endblock %}
